<template>  
 <view class="container">
   <text :style="{color: 'white', fontSize: 40}">Famous french singers</text>
   <view v-for="(src, i) in singers" :key=i class="imgs" :style="{width: 600, height: 150}">
      <!-- Test with dynamic URL == NOT working -->
      <image :style="{width: 150, height: 150}" :source="require(`../../assets/ffs/${src}`)"/>
      <!-- . -->

      <!-- Test with direct URL == works -->
      <!-- <image :style="{width: 150, height: 150}" :source="require(`../../assets/ffs/cloclo.jpeg`)"/> -->
     
      <!-- Test src == right path -->
      <text :style="{color: 'white'}">{{src}}</text>
    </view>
 </view>
    
</template>
<script>
import data from "../../assets/data/data.json";

export default {
  data() {
    return {
      myJson: data,
      singers: []
    };
  },
  mounted () {
    let singersJson = this.myJson["singers"]
    //get my data from json
    for(let singer of singersJson) {
      this.singers.push(singer["src"])
    }
    console.log(this.singers)
  }
};
</script>

<style>
.container {
  flex: 1;
  justify-content: center;
  align-items: center;
  background-color: #384850;
} 

.imgs {
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 15%;
}
</style>