<template>
  <app-navigation>
  </app-navigation>
</template>

<script>
import { setGlobalNavigator } from './utils.js';
import { StackNavigator } from "vue-native-router";
import Home from './screens/Home';

const AppNavigation = StackNavigator(
  {
    Home: { screen: Home },
  },
  {
    initialRouteName: 'Home',
    headerMode: 'none'
  }
);

export default {
  components: { AppNavigation },
  methods: {
    setGlobalNavigator(nav) {
      setGlobalNavigators(nav);
    }
  }
};
</script>